<table border>
  <tr>
    <th class='center'>検索</th>
    <th class='center'>登録</th>
  </tr>
  <tr>
    <td>
      <form method="post" action="/author/">
        <table class='form'>
          <tr>
            <td>頭文字</td>
            <td>
              <select name="initial">
                <option value=''></option>
                <% initial_list.each do |i| %>
                  <option value='<%= i %>'<%= ' selected' if sess(:author, 'initial') == i %>><%= i %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" value='<%= sess(:author, 'name') %>'></td>
          </tr>
          <tr>
            <td>性別</td>
            <td>
              <select name="sex">
                <% sex_hash.each_pair do |k,v| %>
                  <option value='<%= k %>'<%= ' selected' if sess(:author, 'sex') == k %>><%= v %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr><td colspan=2 align=center>
            <input type="submit" class='btn btn-xs btn-success btn-md' value="検索" name='search_button'>
            <input type="submit" class='btn btn-xs btn-warning btn-md' value="クリア" name='clear_button'>
          </td></tr>
        </table>
      </form>
    </td>
    <td>
      <form method="post" action="create">
        <table class='form'>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" id="name"></td>
          </tr>
          <tr>
            <td>かな</td>
            <td><input type="text" name="name_kana" id="name_kana"></td>
          </tr>
          <tr>
            <td>性別</td>
            <td>
              <select name="sex">
                <% sex_hash.each_pair do |k,v| %>
                  <option value='<%= k %>'><%= v %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr><td colspan=2 align=center><input type="submit" class='btn btn-xs btn-primary btn-md' value="登録" onClick="return CreateCheck();"></td></tr>
        </table>
      </form>
    </td>
  </tr>
</table>

<br>

<table class="table table-condensed">
  <tr>
    <th class='right'>id</th>
    <th>頭文字</th>
    <th>名前</th>
    <th>かな</th>
    <th>性別</th>
    <th class='btn-size'></th>
    <th class='btn-size'></th>
  </tr>
  <% @authors.each do |author| %>
    <% if author == @target_author %>
      <tr>
        <form method="post" action="update">
          <td align='right'><%= author.id %></td>
          <td><%= author.initial %></td>
          <td><input type="text" name="name" value='<%= author.name %>'></td>
          <td><input type="text" name="name_kana" id="edit_name_kana" value='<%= author.name_kana %>'></td>
          <td>
            <select name="sex">
              <% sex_hash.each_pair do |k,v| %>
                <%= "<option value='#{k}' #{(k == author.sex.to_s) ? 'selected' : ''}>#{v}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <input type="submit" class='btn btn-xs btn-primary btn-md' name="update" value="修正" onClick="return KanaCheck();">
            <input type="hidden" name="id" value="<%= author.id %>">
          </td>
          <td>
            <input type="submit" class='btn btn-xs btn-danger btn-wd' name="cancel" value="キャンセル">
          </td>
        </form>
      </tr>
    <% else %>
      <tr>
        <td align='right'><%= author.id %></td>
        <td><%= author.initial %></td>
        <td><%= author.name %></td>
        <td><%= author.name_kana %></td>
        <td><%= sex_translate(author.sex) %></td>
        <td>
          <form method="get" action="edit">
            <input type="submit" class='btn btn-xs btn-warning btn-md' value="編集">
            <input type="hidden" name="id" value="<%= author.id %>">
          </form>
        </td>
        <td>
          <form method="post" action="del">
            <input type="submit" class='btn btn-xs btn-danger btn-md' value="削除" onClick="return DeleteCheck('<%= author.name %>');">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= author.id %>">
          </form>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
