<div align='center'>
  <h2>Book</h2>
</div>

<table border>
  <tr>
    <th align=center>検索</td>
    <th align=center>登録</td>
  </tr>
  <tr>
    <td>
      <form method="post" action="/book/">
        <table>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" value='<%= session[:book] && session[:book]['name'] %>' size='30'></td>
          </tr>
          <tr>
            <td>著者</td>
            <td>
              <select name="author_id">
                <option value=''></option>
                <% @authors.each do |author| %>
                  <option value='<%= author.id %>'<%= ' selected=true' if session[:book] && session[:book]['author_id'].to_i == author.id %>><%= author.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>出版社</td>
            <td>
              <select name="label_id">
                <option value=''></option>
                <% @labels.each do |label| %>
                  <option value='<%= label.id %>'<%= ' selected=true' if session[:book] && session[:book]['label_id'].to_i == label.id %>><%= label.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <select name="status">
                <option value=''></option>
                <% status_hash.each_pair do |k,v| %>
                  <option value='<%= k %>'<%= ' selected=true' if session[:book] && session[:book]['status'] == k %>><%= v %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr><td colspan=2 align=center>
            <input type="submit" value="検索" style='width: 80px;', name='search_button'>
            <input type="submit" value="クリア" style='width: 80px;', name='clear_button'>
          </td></tr>
        </table>
      </form>
    </td>
    <td>
      <form method="post" action="create">
        <table>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" id="name" size='30'></td>
          </tr>
          <tr>
            <td>著者</td>
            <td>
              <select name="author_id">
                <option>選択してください</option>
                <% @authors.each do |author| %>
                  <%= "<option value='#{author.id}'>#{author.name}</option>" %>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>出版社</td>
            <td>
              <select name="label_id">
                <option>選択してください</option>
                <% @labels.each do |label| %>
                  <%= "<option value='#{label.id}'>#{label.name}</option>" %>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <select name="status">
                <% status_hash.each_pair do |k,v| %>
                  <%= "<option value='#{k}'>#{v}</option>" %>
                <% end %>
              </select>
            </td>
          </tr>
          <tr><td colspan=2 align=center><input type="submit" value="登録" style='width: 80px;'></td></tr>
        </table>
      </form>
    </td>
  </tr>
</table>

<br><br>

<table border>
  <tr>
    <th>id</th>
    <th>isbn</th>
    <th>名前</th>
    <th>著者</th>
    <th>出版社</th>
    <th>ステータス</th>
  </tr>
  <% @books.each do |book| %>
    <% if book == @target_book %>
      <tr>
        <form method="post" action="update">
          <td><%= book.id %></td>
          <td><%= book.isbn %></td>
          <td>
            <input type="text" name="name" size='50' value='<%= book.name %>'>
          </td>
          <td>
            <select name="author_id">
              <option>選択してください</option>
              <% @authors.each do |author| %>
                <%= "<option value='#{author.id}' #{(author.id == book.author_id) ? 'selected' : ''}>#{author.name}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <select name="label_id">
              <option>選択してください</option>
              <% @labels.each do |label| %>
                <%= "<option value='#{label.id}' #{(label.id == book.label_id) ? 'selected' : ''}>#{label.name}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <select name="status">
              <% status_hash.each_pair do |k,v| %>
                <%= "<option value='#{k}' #{(k == book.status.to_s) ? 'selected' : ''}>#{v}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <input type="submit" name="update" value="修正" style='width: 80px;' onClick="return KanaCheck();">
            <input type="submit" name="cancel" value="キャンセル" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= book.id %>">
          </td>
        </form>
        <form method="post" action="del">
          <td>
            <input type="submit" value="削除" style='width: 80px;'>
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= book.id %>">
          </td>
        </form>
      </tr>
    <% else %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.isbn %></td>
        <td><%= book.name %></td>
        <td><%= book.author.name %></td>
        <td><%= book.label.name %></td>
        <td><%= status_translate(book.status) %></td>
        <form method="get" action="edit">
          <td>
            <input type="submit" value="編集 / 削除" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= book.id %>">
          </td>
        </form>
      </tr>
    <% end %>
  <% end %>
</table>

