<script type="text/javascript">
  <!--
    function SelectCheck() {
      var authorSelectIndex = document.getElementById('author_select').selectedIndex;
      var labelSelectIndex = document.getElementById('label_select').selectedIndex;

      if( authorSelectIndex == 0 || labelSelectIndex == 0 ) {
        alert("未選択項目があります");
        return false;
      } else {
        return true;
      }
    }

    function changeStatus(id) {
      next_status_id = $('#next_status_id_' + id).val();
      $.ajax({
        type: 'GET',
        url: '/api/change_book_status?id=' + id + '&new_status=' + next_status_id,
        dataType: 'json',
        success: function(ret) {
          if(ret.error) {
            alert('エラーが発生しました： ' + ret.error);
          } else {
            $('#book_status_' + id).html(ret.status);
            $('#next_status_id_' + id).val(ret.next_status_id);
          }
        },
        error: function() {
          alert('エラーが発生しました');
        }
      });
    };
  // -->
</script>

<table border>
  <tr>
    <th class='center'>検索</td>
  </tr>
  <tr>
    <td>
      <form method="post" action="/book/">
        <table class='form'>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" value='<%= sess(:book, 'name') %>' size='30'></td>
          </tr>
          <tr>
            <td>著者</td>
            <td>
              <select name="author_id">
                <option value=''></option>
                <% @authors.each do |author| %>
                  <option value='<%= author.id %>'<%= ' selected=true' if sess(:book, 'author_id').to_i == author.id %>><%= author.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>出版社</td>
            <td>
              <select name="label_id">
                <option value=''></option>
                <% @labels.each do |label| %>
                  <option value='<%= label.id %>'<%= ' selected=true' if sess(:book, 'label_id').to_i == label.id %>><%= label.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% status_hash.each do |k,v| %>
                <label>
                  <input type="checkbox" name="status[]" value='<%= k %>' <%= 'checked' if (sess(:book, 'status') || []).include?(k) %>>
                  <%= v %>
                </label>
              <% end %>
            </td>
          </tr>
          <tr><td colspan=2 align=center>
            <input type="submit" class='btn btn-xs btn-success btn-md' value="検索" name='search_button'>
            <input type="submit" class='btn btn-xs btn-warning btn-md' value="クリア" name='clear_button'>
          </td></tr>
        </table>
      </form>
    </td>
  </tr>
</table>

<br>

<table class="table table-condensed">
  <tr>
    <th>名前</th>
    <th>著者</th>
    <th>出版社</th>
    <th colspan=2>ステータス</th>
    <th class='btn-size'></th>
    <th class='btn-size'></th>
  </tr>
  <% @books.each do |book| %>
    <% if book == @target_book %>
      <tr>
        <form method="post" action="update">
          <td>
            <input type="text" name="name" size='50' value='<%= book.name %>'>
          </td>
          <td>
            <select name="author_id">
              <% @authors.each do |author| %>
                <%= "<option value='#{author.id}' #{(author.id == book.author_id) ? 'selected' : ''}>#{author.name}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <select name="label_id">
              <% @labels.each do |label| %>
                <%= "<option value='#{label.id}' #{(label.id == book.label_id) ? 'selected' : ''}>#{label.name}</option>" %>
              <% end %>
            </select>
          </td>
          <td colspan=2>
            <select name="status">
              <% status_hash.each_pair do |k,v| %>
                <%= "<option value='#{k}' #{(k == book.status.to_s) ? 'selected' : ''}>#{v}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <input type="submit" class='btn btn-xs btn-primary btn-md' name="update" value="修正"><br>
            <input type="hidden" name="id"   value="<%= book.id %>">
            <input type="hidden" name="isbn" value="<%= book.isbn %>">
          </td>
          <td>
            <input type="submit" class='btn btn-xs btn-danger btn-wd' name="cancel" value="キャンセル">
          </td>
        </form>
      </tr>
    <% else %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author.try(:name) || '著者が設定されていません' %></td>
        <td><%= book.label.try(:name) || '出版社が設定されていません' %></td>
        <% status_str, next_id = get_status_and_next_id(book.status) %>
        <td id='book_status_<%= book.id %>'><%= status_str %></td>
        <td>
          <input type="button" name="change_status" class='btn btn-xs btn-info btn-tn' value="※" onClick="changeStatus(<%= book.id %>);">
          <input type="hidden" name="next_status_id" id='next_status_id_<%= book.id %>' value="<%= next_id %>">
        </td>
        <form method="get" action="edit">
          <td>
            <input type="submit" class='btn btn-xs btn-warning btn-md' value="編集">
            <input type="hidden" name="id" value="<%= book.id %>">
          </td>
        </form>
        <form method="post" action="del">
          <td>
            <input type="submit" class='btn btn-xs btn-danger btn-md' value="削除" onClick="return DeleteCheck('<%= book.name %>');">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= book.id %>">
          </td>
        </form>
      </tr>
    <% end %>
  <% end %>
</table>

