
<table border>
  <tr>
    <th><a href='/'>id</a></th>
    <th><a href='/?s=i'>頭文字</a></th>
    <th><a href='/?s=k'>名前</a></th>
    <th><a href='/?s=k'>かな</a></th>
    <th><a href='/?s=s'>性別</a></th>
  </tr>

  <tr>
    <form method="post" action="create">
      <td>**</td>
      <td>**</td>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="name_kana"></td>
      <td>
        <select name="sex">
          <% sex_hash.each_pair do |k,v| %>
            <%= "<option value='#{k}'>#{v}</option>" %>
          <% end %>
        </select>
      </td>
      <td>
        <input type="submit" value="登録" style='width: 80px;'>
        <input type="hidden" name="s" value="<%= params[:s] %>">
      </td>
    </form>
  </tr>

  <% @authors.each do |author| %>
    <% if author == @target_author %>
      <tr>
        <form method="post" action="update">
          <td><%= author.id %></td>
          <td><%= author.initial %></td>
          <td><input type="text" name="name" value=<%= author.name %>></td>
          <td><input type="text" name="name_kana" value=<%= author.name_kana %>></td>
          <td>
            <select name="sex">
              <% sex_hash.each_pair do |k,v| %>
                <%= "<option value='#{k}' #{(k == author.sex.to_s) ? 'selected' : ''}>#{v}</option>" %>
              <% end %>
            </select>
          </td>
          <td>
            <input type="submit" name="update" value="修正" style='width: 80px;'>
            <input type="submit" name="cancel" value="キャンセル" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= author.id %>">
            <input type="hidden" name="s" value="<%= params[:s] %>">
          </td>
        </form>
        <form method="post" action="del">
          <td>
            <input type="submit" value="削除" style='width: 80px;'>
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= author.id %>">
            <input type="hidden" name="s" value="<%= params[:s] %>">
          </td>
        </form>
      </tr>
    <% else %>
      <tr>
        <td><%= author.id %></td>
        <td><%= author.initial %></td>
        <td><%= author.name %></td>
        <td><%= author.name_kana %></td>
        <td><%= sex_translate(author.sex) %></td>
        <form method="get" action="edit">
          <td>
            <input type="submit" value="編集 / 削除" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= author.id %>">
            <input type="hidden" name="s" value="<%= params[:s] %>">
          </td>
        </form>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <form method="post" action="create">
      <td>**</td>
      <td>**</td>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="name_kana"></td>
      <td>
        <select name="sex">
          <% sex_hash.each_pair do |k,v| %>
            <%= "<option value='#{k}'>#{v}</option>" %>
          <% end %>
        </select>
      </td>
      <td>
        <input type="submit" value="登録" style='width: 80px;'>
        <input type="hidden" name="s" value="<%= params[:s] %>">
      </td>
    </form>
  </tr>
</table>

