
<table border>
  <tr>
    <th>id</th>
    <th>頭文字</th>
    <th>名前</th>
    <th>かな</th>
    <th>性別</th>
  </tr>

  <% @authors.each do |author| %>
    <tr>
      <td><%= author.id %></td>
      <td><%= author.initial %></td>
      <td><%= author.name %></td>
      <td><%= author.name_kana %></td>
      <td><%= sex_translate(author.sex) %></td>
      <form method="post" action="del">
        <td>
          <input type="submit" value="削除">
        </td>
        <input type="hidden" name="id" value="<%= author.id %>">
        <input type="hidden" name="_method" value="delete">
      </form>
    </tr>
  <% end %>

  <tr>
    <form method="post" action="new">
      <td>**</td>
      <td><input type="text" name="initial"></td>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="name_kana"></td>
      <td>
        <select name="sex">
          <% sex_hash.each_pair do |k,v| %>
            <%= "<option value='#{k}'>#{v}</option>" %>
          <% end %>
        </select>
      </td>
      <td><input type="submit" value="登録"></td>
    </form>
  </tr>
</table>

