<div align='center'>
  <h2>Label</h2>
</div>

<table border>
  <tr>
    <th>id</th>
    <th>名前</th>
    <th>かな</th>
  </tr>

  <tr>
    <form method="post" action="create">
      <td>**</td>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="name_kana" id="name_kana"></td>
      <td><input type="submit" value="登録" style='width: 80px;'></td>
    </form>
  </tr>

  <% @labels.each do |label| %>
    <% if label == @target_label %>
      <tr>
        <form method="post" action="update">
          <td><%= label.id %></td>
          <td><input type="text" name="name" value='<%= label.name %>'></td>
          <td><input type="text" name="name_kana" value='<%= label.name_kana %>'></td>
          <td>
            <input type="submit" name="update" value="修正" style='width: 80px;'>
            <input type="submit" name="cancel" value="キャンセル" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= label.id %>">
          </td>
        </form>
        <form method="post" action="del">
          <td>
            <input type="submit" value="削除" style='width: 80px;'>
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= label.id %>">
          </td>
        </form>
      </tr>
    <% else %>
      <tr>
        <td><%= label.id %></td>
        <td><%= label.name %></td>
        <td><%= label.name_kana %></td>
        <form method="get" action="edit">
          <td>
            <input type="submit" value="編集 / 削除" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= label.id %>">
          </td>
        </form>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <form method="post" action="create">
      <td>**</td>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="name_kana" id="name_kana"></td>
      <td><input type="submit" value="登録" style='width: 80px;'></td>
    </form>
  </tr>
</table>

