<div align='center'>
  <h2>Label</h2>
</div>

<table border>
  <tr>
    <th align=center>検索</td>
    <th align=center>登録</td>
  </tr>
  <tr>
    <td>
      <form method="post" action="/label/">
        <table>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" value='<%= session[:label] && session[:label]['name'] %>'></td>
          </tr>
          <tr><td colspan=2 align=center>
            <input type="submit" value="検索" style='width: 80px;', name='search_button'>
            <input type="submit" value="クリア" style='width: 80px;', name='clear_button'>
          </td></tr>
        </table>
      </form>
    </td>
    <td>
      <form method="post" action="create">
        <table>
          <tr>
            <td>名前</td>
            <td><input type="text" name="name" id="name"></td>
          </tr>
          <tr>
            <td>かな</td>
            <td><input type="text" name="name_kana" id="name_kana"></td>
          </tr>
          <tr><td colspan=2 align=center><input type="submit" value="登録" style='width: 80px;' onClick="return CreateCheck();"></td></tr>
        </table>
      </form>
    </td>
  </tr>
</table>

<br><br>

<table border>
  <tr>
    <th>id</th>
    <th>名前</th>
    <th>かな</th>
  </tr>
  <% @labels.each do |label| %>
    <% if label == @target_label %>
      <tr>
        <form method="post" action="update">
          <td><%= label.id %></td>
          <td><input type="text" name="name" value='<%= label.name %>'></td>
          <td><input type="text" name="name_kana" value='<%= label.name_kana %>'></td>
          <td>
            <input type="submit" name="update" value="修正" style='width: 80px;'>
            <input type="submit" name="cancel" value="キャンセル" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= label.id %>">
          </td>
        </form>
        <form method="post" action="del">
          <td>
            <input type="submit" value="削除" style='width: 80px;'>
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= label.id %>">
          </td>
        </form>
      </tr>
    <% else %>
      <tr>
        <td><%= label.id %></td>
        <td><%= label.name %></td>
        <td><%= label.name_kana %></td>
        <form method="get" action="edit">
          <td>
            <input type="submit" value="編集 / 削除" style='width: 80px;'>
            <input type="hidden" name="id" value="<%= label.id %>">
          </td>
        </form>
      </tr>
    <% end %>
  <% end %>
</table>

