<form method="post">
  <table>
    <tr>
      <td align=right style='padding: 0px 5px;'>
        ISBN 10桁
      </td>
      <td align=right style='padding: 0px 5px;'>
            <input type="text" name="isbn_10" size='10' value=<%= params ? params[:isbn_10] : '' %>>
      </td>
      <td rowspan=2 align=center style='padding: 5px;'>
        <input type="submit" class='btn btn-xs btn-success btn-md' value="検索">
      </td>
    </tr>
    <tr>
      <td align=right style='padding: 0px 5px;'>
             13桁
      </td>
      <td align=right style='padding: 0px 5px;'>
        978-<input type="text" name="isbn_13" size='10' value=<%= params ? params[:isbn_13] : '' %>>
      </td>
    </tr>
  </table>
</form>

<br>

<% if @data %>
  <% if @data[:error] %>
    ERROR! : <%= @data[:error] %>
  <% else %>
    <div id="search_result">
      <table class="table table-condensed" style='width: auto;'>
        <tr>
          <th>ISBN</th>
          <td><%= @data[:isbn] %></td>
        <tr>
          <th>タイトル</th>
          <td><%= @data[:title] %></td>
        <tr>
          <th>著者名</th>
          <td><%= @data[:author_name] %></td>
        <tr>
          <th>出版社</th>
          <td><%= @data[:label_name] %></td>
      </table>
      <% if registered_title = @data[:registered_title] %>
        登録済です（登録タイトル：<%= registered_title %>）
      <% else %>
        <a href='/search/book_register?<%= data_to_query(@data) %>' class='btn btn-primary'>登録画面へ</a>
      <% end %>
    </div>
  <% end %>
<% end %>
