<div align='center'>
  <h2>Search</h2>
</div>


<form method="post">
  <table border>
    <tr>
      <td align=right>
        ISBN 10桁<br>
             13桁
      </td>
      <td align=right>
            <input type="text" name="isbn_10" value=<%= params ? params[:isbn_10] : '' %>><br>
        978-<input type="text" name="isbn_13" value=<%= params ? params[:isbn_13] : '' %>>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <input type="submit" value="検索" style='width: 80px;'>
      </td>
    </tr>
  </table>
</form>

<% if @data %>
  <div><%= @data %></div>
  ---------------- 検索結果 ----------------
  <div id="search_result">
    <table border>
      <tr>
        <th>ISBN</th>
        <td><%= @data[:isbn] %></td>
      <tr>
        <th>タイトル</th>
        <td><%= @data[:title] %></td>
      <tr>
        <th>著者名</th>
        <td><%= @data[:author_name] %></td>
      <tr>
        <th>出版社</th>
        <td><%= @data[:publisher_name] %></td>
    </table>
    <a href='/search/book_register?<%= data_to_query(@data) %>'>登録画面へ</a>
  </div>
<% else %>
  <div>Please Search !!!</div>
<% end %>
