<script type="text/javascript">
<!--
function changeAuthor() {
  var author_select = document.getElementById('author_select');
  var author_item = author_select.options.item(author_select.selectedIndex)
　document.getElementById('author_name').innerHTML = author_item.text;
　document.getElementById('hidden_author_id').value = author_item.value;
}
function changeLabel() {
  var label_select = document.getElementById('label_select');
  var label_item = label_select.options.item(label_select.selectedIndex)
　document.getElementById('label_name').innerHTML = label_item.text;
　document.getElementById('hidden_label_id').value = label_item.value;
}
// -->
</script>

<div align='center'>
  <h2>Search -> Register</h2>
</div>

<div id="show_div">
  <% book_register_flg = @author_id && @label_id %>
  <% if book_register_flg %>
    <form method="post" action="book_register">
  <% else %>
    ※先に著者名と出版社名を確定させてください
  <% end %>
    <table class='table' style='width: auto;'>
      <tr>
        <th>ISBN</th>
        <td><%= params[:isbn] %></td>
        <input id='isbn' type="hidden" name="isbn" value='<%= params[:isbn] %>'>
      <tr>
        <th>タイトル</th>
        <td>
          <% if book_register_flg %>
            <input type="text" name="name" value='<%= params[:title] %>' size='50'>
          <% else %>
            <%= params[:title] %>
          <% end %>
        </td>
      <tr>
        <th>著者名</th>
        <td>
          <% if @author_id %>
            <div id='author_name'><%= params[:author_name] %></div>
            <input id='hidden_author_id' type="hidden" name="author_id" value='<%= @author_id %>'>
            (変更：
              <select id='author_select'>
                <option value=''>選択してください</option>
                <% @authors.each do |author| %>
                  <%= "<option value='#{author.id}'>#{author.name}</option>" %>
                <% end %>
              </select>
              <input type="button" class='btn btn-xs btn-warning' name="change_author" id="change_author" value="変更する" onclick="changeAuthor()" />
            )
          <% else %>
            <form method="post" action="author_register">
              <table class='form'>
                <tr><td>名前</td><td><input type="text" name="name" value="<%= params[:author_name] %>"></td></tr>
                <tr><td>かな</td><td><input type="text" name="name_kana" id="edit_name_kana"></td></tr>
                <tr>
                  <td>性別</td>
                  <td>
                    <select name="sex">
                      <% sex_hash.each_pair do |k,v| %>
                        <%= "<option value='#{k}'>#{v}</option>" %>
                      <% end %>
                    </select>
                  </td>
                  <td><input type="submit" class='btn btn-xs btn-primary btn-md' value="登録" onClick="return KanaCheck();"></td>
                </tr>
              </table>
              <input type="hidden" name="original[isbn]" value='<%= params[:isbn] %>'>
              <input type="hidden" name="original[title]" value='<%= params[:title] %>'>
              <input type="hidden" name="original[label_id]" value='<%= @label_id %>'>
              <input type="hidden" name="original[label_name]" value='<%= params[:label_name] %>'>
            </form>
            <hr>
          <% end %>
        </td>
      <tr>
        <th>出版社</th>
        <td>
          <% if @label_id %>
            <div id='label_name'><%= params[:label_name] %></div>
            <input id='hidden_label_id' type="hidden" name="label_id" value='<%= @label_id %>'>
            (変更：
              <select id='label_select'>
                <option value=''>選択してください</option>
                <% @labels.each do |label| %>
                  <%= "<option value='#{label.id}'>#{label.name}</option>" %>
                <% end %>
              </select>
              <input type="button" class='btn btn-xs btn-warning' name="change_label" id="change_label" value="変更する" onclick="changeLabel()" />
            )
          <% else %>
            <form method="post" action="label_register">
              <table class='form'>
                <tr><td>名前</td><td><input type="text" name="name" value="<%= params[:label_name] %>"></td></tr>
                <tr><td>かな</td><td><input type="text" name="name_kana" id="edit_name_kana"></td></tr>
                <tr><td colspan=2><input type="submit" class='btn btn-xs btn-primary btn-md' value="登録" onClick="return KanaCheck();"></td></tr>
              </table>
              <input type="hidden" name="original[isbn]" value='<%= params[:isbn] %>'>
              <input type="hidden" name="original[title]" value='<%= params[:title] %>'>
              <input type="hidden" name="original[author_id]" value='<%= @author_id %>'>
              <input type="hidden" name="original[author_name]" value='<%= params[:author_name] %>'>
            </form>
          <% end %>
        </td>
      </tr>
      <% if book_register_flg %>
        <tr>
          <th>ステータス</th>
          <td>
            <select name="status">
              <% status_hash.each_pair do |k,v| %>
                <%= "<option value='#{k}'>#{v}</option>" %>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>
    </table>
  <% if book_register_flg %>
    <input type="submit" class='btn btn-primary' value="登録">
    </form>
  <% end %>
</div>

